Repository aliyome/rubber-duck-sup: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, test

lint:
  run: npx biome check --unsafe --write {staged_files}
  stage_fixed: true
  fail_text: Linting failed. Please fix lint errors before committing.

typecheck:
  run: npx tsgo --noEmit
  fail_text: Type checking failed. Please fix type errors before committing.

test:
  env:
    CI: 'true'
  run: npm run test
  fail_text: Tests failed. Please fix failing tests before committing.

feat: introduce Hono framework
  package-lock.json
  package.json
  src/hono.ts
  src/index.ts
Due: lint, typecheck, test

docs: 事前調査
  docs/research/cloudflare_ai.md
  docs/research/discord_bot_on_cloudflare_workers.md
  docs/research/kv_or_d1.md
  docs/research/processing_flow_and_data_model.md
  docs/research/tasks.md
  docs/research/test_plan_with_vitest.md
Due: none

chore: update dependencies
  package-lock.json
  package.json
  worker-configuration.d.ts
  wrangler.jsonc
Due: lint, typecheck, test

feat: add Discord interaction and AI response fixtures
  docs/research/tasks.md
  test/fixtures/cloudflare_ai/progress-prompt-success.json
  test/fixtures/cloudflare_ai/summary-success.json
  test/fixtures/discord/interaction-progress.json
  test/fixtures/index.ts
Due: lint, typecheck, test

chore: update lint command to use tsgo instead of tsc
  package.json
Due: lint

feat: implement Discord signature verification logic and corresponding tests
  docs/research/tasks.md
  src/lib/discord/verifySignature.ts
  test/verify-discord-signature.spec.ts
Due: lint, typecheck, test

feat: Implement Discord ping endpoint and update task log
  docs/research/tasks.md
  src/hono.ts
Due: lint, typecheck, test

chore: move file
  docs/tasks.md
Due: none

feat: add cron scaffold and update tasks
  docs/tasks.md
  src/data/messageRepository.ts
  src/data/models.ts
  src/data/sessionRepository.ts
  src/index.ts
  src/jobs/promptScheduler.ts
  worker-configuration.d.ts
  wrangler.jsonc
Due: lint, typecheck, test

feat: add Discord user ID to session schema and implement conversation message persistence
  docs/research/processing_flow_and_data_model.md
  docs/tasks.md
  migrations/20251002_0001_init.sql
  schema.sql
  schema.sqlite
  src/data/conversationRepository.ts
  src/data/models.ts
  src/data/sessionRepository.ts
  test/conversationRepository.spec.ts
  test/sessionRepository.spec.ts
Due: lint, typecheck, test

feat: implement generateProgressPrompt function and corresponding tests for dynamic progress check-in messages
  docs/tasks.md
  src/lib/ai/progressPrompt.ts
  test/progressPrompt.spec.ts
Due: lint, typecheck, test

feat: WIP! implement progress reporting and feedback features with Discord integration
  docs/tasks.md
  src/data/sessionRepository.ts
  src/hono.ts
  src/index.ts
  src/jobs/promptScheduler.ts
  src/lib/ai/progressFeedback.ts
  src/lib/discord/api.ts
  src/lib/discord/interactions/progress.ts
  test/progressInteraction.spec.ts
  test/promptScheduler.spec.ts
  worker-configuration.d.ts
  wrangler.jsonc
Due: lint, typecheck, test

fix: type error with replacing WorkersAiBinding with Ai type in multiple files
  src/jobs/promptScheduler.ts
  src/lib/ai/progressFeedback.ts
  src/lib/ai/progressPrompt.ts
  src/lib/discord/interactions/progress.ts
  test/progressPrompt.spec.ts
Due: lint, typecheck, test

docs: add Discord slash command registration script and update tasks
  docs/research/discord_slash_command_registration.md
  docs/tasks.md
Due: none

chore: add bun slash command deploy script
  docs/tasks.md
  package.json
  script/deployCommands.ts
Due: lint, typecheck, test

docs: add slash command tasks
  docs/tasks.md
Due: none

feat(discord): implement start/stop command lifecycle with rollback
  docs/tasks.md
  src/data/sessionRepository.ts
  src/hono.ts
  src/lib/discord/api.ts
  src/lib/discord/interactions/start.ts
  src/lib/discord/interactions/stop.ts
  test/sessionRepository.spec.ts
  test/startInteraction.spec.ts
  test/stopInteraction.spec.ts
Due: lint, typecheck, test

`/start`および`/stop`コマンドを登録スクリプトに追加しました。
  script/deployCommands.ts
Due: lint, typecheck, test

chore: upgrade packages
  package-lock.json
  package.json
Due: lint

`README.md` ファイルを日本語に更新しました。ご確認いただけますでしょうか。
  README.md
Due: none

修正が完了しました。`README.md` ファイルを更新しましたので、ご確認ください。
  README.md
Due: none

`docs/sequences.md`にMermaidのシーケンス図を記述しました。これでタスクは完了です。
  docs/sequences.md
Due: none

修正が完了しました。`participant`宣言をシーケンス図の先頭にまとめることで、重複表示の問題を解決しました。
  docs/sequences.md
Due: none

修正が完了しました。
  docs/sequences.md
Due: none

feat: /start コマンドでセッションタイトルを登録できるようにする
  README.md
  migrations/20251006_0002_add_title_to_sessions.sql
  schema.sql
  src/data/models.ts
  src/data/sessionRepository.ts
  src/lib/discord/interactions/start.ts
  test/sessionRepository.spec.ts
Due: lint, typecheck, test

修正が完了しました。
  script/deployCommands.ts
  src/hono.ts
Due: lint, typecheck, test

すべての修正が完了しました。`title` オプションを必須にするための変更は以上です。
  commands.http
  script/deployCommands.ts
  src/hono.ts
  src/lib/discord/interactions/start.ts
Due: lint, typecheck, test

/start コマンドでセッションタイトルを登録できるようにする (vibe-kanban) (#5)
  commands.http
  script/deployCommands.ts
  src/hono.ts
  src/lib/discord/interactions/start.ts
Due: lint, typecheck, test

テストは全て成功しました。定期メッセージにメンションが追加され、ユーザーに通知が届くようになり、テストも更新済みです。これで完了です。他に何かお手伝いできることはありますか？
  src/jobs/promptScheduler.ts
  test/promptScheduler.spec.ts
Due: lint, typecheck, test

Tests passed. The prompt has been improved and the corresponding test code has been updated. The task is complete.
  src/lib/ai/progressPrompt.ts
  test/progressPrompt.spec.ts
Due: lint, typecheck, test

fix: unable to mention
  src/jobs/promptScheduler.ts
  test/promptScheduler.spec.ts
Due: lint, typecheck, test

feat: improve progress prompt and formatting
  src/lib/ai/progressPrompt.ts
  test/progressPrompt.spec.ts
Due: lint, typecheck, test

chore: tweak prompt
  src/lib/ai/progressPrompt.ts
  test/progressPrompt.spec.ts
Due: lint, typecheck, test

chore: tweak prompt
  src/jobs/promptScheduler.ts
  src/lib/ai/progressPrompt.ts
  test/progressPrompt.spec.ts
  test/promptScheduler.spec.ts
Due: lint, typecheck, test

リンターで1つのファイルを修正し、複雑さに関する警告がいくつか見つかりましたが、コマンドは成功しました。私が修正した `src/jobs/promptScheduler.ts` には複雑さの警告がありますが、これは既存の問題のようで、私の変更は軽微です。`processDueSession` 関数の複雑さは現在9で、最大値の7を超えていますが、今のところ大きな問題ではありません。
  src/jobs/promptScheduler.ts
Due: lint, typecheck, test

fix: biome schema version
  biome.json
Due: lint

Path conditions:
  lint: any of: *.{ts,js,json}
  typecheck: any of: *.{ts,js}
  test: any of: *.{ts,js}
